.phone-list {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    margin-top: 30px;
}

.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 5px;
}

.ui-title {
    font-size: 22px;
    font-weight: bold;
    color: #AF4341;
}

.ui-message { 
    color: #AF4341;
}

.ui-accordion-title {
    margin: 8px;
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(197, 193, 193);
    height: 50px;
    padding: 5px 0px;
}

.ui-accordion-message {
    background-color: #f8f4f4;
}