.phone-list {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    margin-top: 30px;
}

.ui-alert {
    background-color: #F2DEDE;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 5px;
}

.ui-title {
    font-size: 22px;
    font-weight: bold;
    color: #AF4341;
}

.ui-message { 
    color: #AF4341;
}